/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

* {
  box-sizing: border-box;
}

html {
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  zoom: 100%;
  font-weight: bold;
}

*::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
@media (max-width: 768px) {
  body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    zoom: reset;
   
  }
}
